
// button color 
$cian : #80CBD8;
$darkCian: #75BEC6;
$redlight: #EB5956;
$white: #fff;

//Font Family
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$monserrat: 'Montserrat', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// font sizes icons 
$m-icons: 1.4rem;

// Font Sizes
$large: 35px;
$medium: 16px;
$small: 14px;
$x-small: 10px;